/* variables */

// typography
$base-font-family:              "Source Sans Pro", sans-serif;
$code-font-family:              "Inconsolata", monospace;

// colors
$colors: (
  "primary":                    rgb(26, 162, 220),
  "dovegray":                   rgb(102, 102, 102),
);

$font-color:                    map-get($colors, "dovegray");

// forms
$input-use-full-width:          true;
