/* variables */

// typography
$base-font-family:              "Roboto", sans-serif;
$code-font-family:              "Inconsolata", monospace;

// colors
$colors: ();

// forms
$input-use-full-width:          true;
