<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>Example</title>
        <style>
            @import url('https://fonts.googleapis.com/css?family=Inconsolata|Source+Sans+Pro:300,400,400i,600&display=swap');
        </style>
        <link href="{{ url_for('static', path='/css/karma.min.css') }}" rel="stylesheet">
        {% block extra_css %}{% endblock %}
    </head>

    <body>
    {% block header %}
    <header class="py-1">
        <div class="container d-flex">
            <div class="h2 m-0"><a href="/">Example</a></div>
            <div class="ml-auto">
                {% if request.user.is_authenticated %}
                <a href="{{ url_for('auth:change_password') }}">Change Password</a>
                <span>&middot;</span>
                <a href="{{ url_for('auth:logout') }}">Logout</a>
                {% else %}
                <a href="{{ url_for('auth:login') }}">Login</a>
                {% endif %}
            </div>
        </div>
    </header>
    {% endblock %}
    {% block content %}{% endblock %}
    {% block extra_js %}{% endblock %}
    </body>
</html>
