{% extends "base.html" %}

{% block content %}
<div class="container my-1h">
    <p class="strong">Change Password</p>
    <p>Please enter your current and new passwords</p>
    <form method="post" novalidate>
        {% for field in form %}
        <div {% if field.errors %}class="text-error"{% endif %}>
            {{ field.label }}
            {{ field }}
            {% if field.errors %}
            <cite>{{ field.errors|join(' ') }}</cite>
            {% elif field.description %}
            <cite>{{ field.description }}</cite>
            {% endif %}
        </div>
        {% endfor %}
        <button type="submit" class="button button-primary">Change Password</button>
    </form>
</div>
{% endblock %}
